.footer{
    /* Layout */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-mini);

    /* Box Model */
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    padding: 20px 0 10px 0;

    /* Fondos */
    background-color: var(--color-bg-secondary);

    /* Tipografía */
    font-family: var(--font-family);
    color: var(--color-text);

    /* Otros */
    box-shadow: 0px -4px 12px rgba(0,0,0,0.12);
}

.footer__container-links{
    /* Layout */
    display: flex;
    justify-content: center;
    gap: var(--gap-xxxxxlarge);

    /* Box Model */
    width: 100%;
    margin-bottom: 20px;
}

.footer__link{
    /* Box Model */
    padding: 5px 10px;
    margin-bottom: 5px;

    /* Texto */
    color: var(--color-text);
    font: 600 var(--font-size-base)/20px var(--font-family);
    text-decoration: none;

    /* Efectos */
    transition: color 0.3s;
}

.footer__link:hover {
    /* Texto */
    color: var(--color-primary);
}

.footer__container-email{
    /* Layout */
    display: flex;
    align-items: center;
    gap: var(--gap-xxxxlarge);

    /* Box Model */
    margin-bottom: 20px;
}

.footer__email{
    /* Texto */
    color: var(--color-text);
    font: 600 var(--font-size-small)/20px var(--font-family);
}

.footer__title{
    /* Texto */
    color: var(--color-primary);
    font: 600 var(--font-size-xxlarge)/24px var(--font-family);
}

.footer__container-social{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xxlarge);

    /* Box Model */
    width: 100%;
    padding-top: 10px;

    /* Fondo/Borde */
    border-top: 1px solid var(--color-icon);
}

.footer__icon{
    /* Layout */
    display: inline-flex; /* centra si quieres */
    align-items: center;
    justify-content: center;
    text-decoration: none; /* por si acaso */
}

.footer__icon .icon{ 
    /* Layout */
    display: block;

    /* Box Model */
    width: var(--icon-size);
    height: var(--icon-size);

    /* Texto */
    color: var(--color-icon);

    /* Efectos */
    transition: color 0.3s ease;
}

.footer__icon .icon:hover {
    /* Texto */
    color: var(--color-primary);
}

#backToTop {
    /* Layout */
    display: flex; /* siempre ocupa espacio, pero invisible al inicio */
    align-items: center;
    justify-content: center;

    /* Posicionamiento */
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000;

    /* Box Model */
    width: 20px;
    height: 20px;

    /* Borde/Fondo */
    border-radius: 50%;
    border: none;
    background-color: var(--color-bg-transparent);

    /* Estado inicial oculto */
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;

    /* Transición */
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#backToTop .icon {
    width: 24px;
    height: 24px;
    color: var(--color-contrast);
}

/* Estado visible */
#backToTop.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.footer__copy {
    font-size: var(--font-size-small);
    opacity: 0.8;
    margin-top: 5px;
}



