
/* ========== IMPORTACIONES ========== */
@import url('variables.css'); /* Variables CSS */
@import url('fonts.css'); 
@import url('navbar.css');
@import url('footer.css');


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 200px;
}
/* Base tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip__item {
    width: 100px;
    height: 100px;
    border-radius: var(--radius);
    background: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.tooltip__text {
    position: absolute;
    white-space: nowrap;
    padding: 8px 12px;
    background-color: var(--color-dark);
    color: var(--color-desc);
    border-radius: var(--radius-small);
    font: 400 12px/1 var(--font-family);
    text-transform: capitalize;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, bottom 0.3s ease, left 0.3s ease, top 0.3s ease, right 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Flecha base */
.tooltip__text::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}


/* Top */
.tooltip[data-position="top"] .tooltip__text {
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip[data-position="top"] .tooltip__text::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-color: var(--color-dark) transparent transparent transparent;
}

.tooltip[data-position="top"]:hover .tooltip__text {
    opacity: 1;
    bottom: 120%;
}

/* Right */
.tooltip[data-position="right"] .tooltip__text {
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}
.tooltip[data-position="right"] .tooltip__text::after {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    border-width: 6px 6px 6px 0;
    border-color: transparent var(--color-dark) transparent transparent;
}

.tooltip[data-position="right"]:hover .tooltip__text {
    opacity: 1;
    left: 120%;
}

/* Bottom */
.tooltip[data-position="bottom"] .tooltip__text {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip[data-position="bottom"] .tooltip__text::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent var(--color-dark) transparent;
}

.tooltip[data-position="bottom"]:hover .tooltip__text {
    opacity: 1;
    top: 120%;
}

/* Left */
.tooltip[data-position="left"] .tooltip__text {
    top: 50%;
    right: 70%;
    transform: translateY(-50%);
}
.tooltip[data-position="left"] .tooltip__text::after {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent var(--color-dark);
}

.tooltip[data-position="left"]:hover .tooltip__text {
    opacity: 1;
    right: 120%;
}

