/* ========== IMPORTACIONES ========== */
@import url('variables.css'); /* Variables CSS */
@import url('fonts.css'); 
@import url('navbar.css');
@import url('footer.css');
@import url('components.css');
@import url('top.css');

/* ========== GLOBAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    /* Fondo */
    background-color: var(--color-bg-primary);
}

html, body {
    height: 100%; /* el body ocupa toda la pantalla */
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    /* Layout */
    display: flex;
    flex-direction: column;
    flex: 1; /* ocupa todo el espacio disponible */

    /* Box Model */
    padding-inline-start: var(--padding-xxxxlarge);
    padding-inline-end: var(--padding-xxlarge);
}


/* ========== SECCIÓN DE PRESENTACIÓN ========== */
.presentation {
    /* Posicionamiento */
    position: relative;
    
    /* Layout */
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: var(--gap-xxlarge);

    /* Box model */
    width: 100%;
    padding: var(--padding-xlarge);
}

.presentation__container-text {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--gap-medium);

    /* Box model */
    max-width: 39.0625rem;
}

.presentation__container-name{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-mini);
    transition: gap 0.3s ease;

    /* Texto */
    text-align: center;
}

.presentation__container-name:hover{
    gap: var(--gap-xxlarge);
}

.presentation__arrow{
    /* Texto */
    font: 700 4.5rem/1 var(--font-family);
    color: var(--color-primary);
}

.presentation__name {
    /* Texto */
    font: 700 4.5rem/1 var(--font-family); /* nombre muy grande */
    color: var(--color-text);
}

.presentation__role {
    /* Texto */
    font: 700 1.75rem/1 var(--font-family);
    color: var(--color-primary);
}

.presentation__pagraph-1,
.presentation__pagraph-2 {
    /* Box model */
    margin-top: 0.625rem;

    /* Texto */
    font: 400 var(--font-size-large)/1.2 var(--font-family);
    color: var(--color-text);
}

.presentation__link{
    color: var(--color-primary);
    transition: color 0.4s ease;
}

.presentation__link:hover{
    color: var(--color-text);
}

.presentation__container-image img {
    /* Box Model */
    width: 300px;
    height: auto;
    border-radius: 0.625rem;
    
    /* Efectos */
    transition: opacity 1.5s ease, transform 0.5s ease;
    display: block;
}

.presentation__icon-scroll{
    /* Posicionamiento */
    position: absolute;
    bottom: 2.1875rem;
}

.presentation__icon-scroll .icon{
    width: 40px; 
    height: 40px;
    color: var(--color-desc);
    animation: down-mouse 3s ease-in-out infinite ;
}

@keyframes down-mouse {
    0% {transform: translateY(0%);}
    30%{transform: translateY(100%);}
    100%{transform: translateY(0%);}
}

/* ========== SECCIÓN PORTFOLIO ========== */
.portfolio {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Box Model */
    width: 100%;
    margin-bottom: 2.5rem;
    padding: var(--padding-section);
}

.portfolio__title {
    /* Texto */
    color: var(--color-text);
    font: 600 var(--title-size)/2 var(--font-family);
    text-transform: capitalize;
}

.portfolio__project {
    /* Layout */
    display: flex;
    justify-content: center;
    gap: var(--gap-large);

    /* Box Model */
    width: 100%;
    height: fit-content;
    margin-bottom: 1.875rem;
    padding: var(--padding-large);
    border-radius: var(--radius-short);

    /* Fondo/Borde */
    background-color: var(--color-bg-secondary);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
    border: 1.4px solid var(--color-desc);

    /* Efectos */
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.portfolio__project:hover{
    border: 1.4px solid var(--color-primary);
    box-shadow: 0px 0px 20px 3px rgb(246, 145, 0, 0.50);}


.portfolio__image {
    /* Box Model */
    width: 900px;
    max-height: 260px;
    border-radius: var(--radius-short);
    

    /* Fondo/Borde */
    object-fit: cover;
    object-position: center top; /* Posición inicial */
    
    /* Animación suave */
    transition: max-height 0.5s ease-in-out, object-position 2s ease-in-out;
}

/* Cuando el texto se despliega */
.portfolio__project.open .portfolio__image {
    max-height: 400px; /* Imagen más grande */
}

.portfolio__image:hover {
    object-position: center 100%; /* Mueve la imagen hacia abajo */
    transform: scale(1.02);       /* Aumenta ligeramente el tamaño */
}

.portfolio__container-content{
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio__container-title-links{
    /* Layout */
    display: flex;
    align-items: center;
    gap: var(--gap-base);

    /* Box Model */
    width: 100%;
    margin-bottom: 1rem;
}

.portfolio__subtitle {
    /* Box Model */
    margin-top: 0.25rem;

    /* Texto */
    color: var(--color-text);
    font: 600 1.75rem/1.5 var(--font-family);
}

.portfolio__links {
    /* Layout */
    display: flex;
    justify-content: space-between;
    gap: var(--gap-mini);

    /* Box Model */
    width: fit-content;
    margin-top: 0.5rem;
}

.portfolio__icon-link {
    /* Texto */
    text-decoration: none;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Efectos */
    font-size: 1rem;
}

.portfolio__links .icon {
    /* Box Model */
    width: 20px;
    height: 20px;

    /* Texto */
    color: var(--color-primary);

    /* Efectos */
    transition: color 0.3s, color 0.3s;
}

.portfolio__icon-link:hover .icon {
    /* Texto */
    color: var(--color-text);
}

.portfolio__description-container{
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: var(--gap-mini);

    /* Box Model */
    max-width: 43.75rem;
    margin-bottom: 0.625rem;
}

.portfolio__description-title{
    /* Texto */
    font: 600 var(--font-size-large)/1 var(--font-family);
    color: var(--color-text);
}

.portfolio__description-paragraph{
    /* Texto */
    font: 400 var(--font-size-medium)/1.2 var(--font-family);
    color: var(--color-text);
}

.portfolio__link-more{
    /* Layout */
    display: flex;
}

.portfolio__btn-more{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Box Model */
    width: fit-content;
    height: fit-content;
    padding: var(--padding-xsmall);
    
    /* Fondo/Borde */
    background: transparent;
    border: none;

    /* Texto */
    font: 400 var(--font-size-medium)/1 var(--font-family);
    color: var(--color-primary);

    /* Efectos */
    cursor: pointer;
    transition: color 0.3s ease;
}

.portfolio__btn-more:hover{
    color: var(--color-hover);
}

.portfolio__more-info{
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    overflow: hidden;

    /* Box Model */
    max-height: 0;

    /* Efectos */
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}   

.portfolio__more-info.open {
    max-height: 500px; /* Ajusta según tu contenido real */
    opacity: 1;
}

.portfolio__info{
    /* Texto */
    font: 400 var(--font-size-medium)/1.3 var(--font-family);
    color: var(--color-text);
}

.portfolio__languajes {
    /* Layout */
    display: flex;
    gap: var(--gap-short);

    /* Box Model */
    width: fit-content;
    padding: var(--padding-short);
    border-radius: 1.875rem;

}

.portfolio__languajes .icon {
    /* Box Model */
    width: 28px;
    height: 28px;
}


/* ========== SECCIÓN SKILLS ========== */
.skills {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);

    /* Box Model */
    width: 100%;
    margin-bottom: 1.25rem;
    padding: var(--padding-section);
}

.skills__title {
    /* Texto */
    color: var(--color-text);
    font: 600 var(--title-size)/2 var(--font-family);
    text-transform: capitalize;
}

.skills__subtitle {
    /* Texto */
    color: var(--color-text);
    font: 600 1.875rem/1.5 var(--font-family);
    text-transform: capitalize;
}

.skills__decorator {
    /* Box Model */
    margin-right: 0.375rem;

    /* Texto */
    color: var(--color-primary);
}

.skills__container-languages,
.skills__container-tools {
    /* Box Model */
    margin-bottom: 3.125rem;
}

.skills__list-elements {
    /* Layout */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: var(--gap-xxxxlarge);

    /* Box Model */
    margin-top: 1.25rem;
}

.skills__list-item {
    /* Box Model */
    width: 100px;
    height: 100px;
    border-radius: var(--radius);

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Fondo/Borde */
    background: linear-gradient(116deg, #ffffff, #eeeeee);

    /* Efectos */
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.12);
    
    /* Lista */
    list-style: none;
}

.skills__list-item:hover {
    /* Efectos */
    transform: scale(1.03);
}

.skills__list-item .icon {
    /* Box Model */
    width: 80px;
    height: 80px;
}
.skills__list-item .icon #github {
    color: var(--color-dark);
}

/* ========== SECCIÓN SOBRE MÍ ========== */
.about {
    /* Layout */
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* Box Model */
    width: 100%;
    margin: 3.75rem 0;
}

.about__content {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Box Model */
    width: fit-content;
    gap: var(--gap-mini);
}

.about__container-elements{
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xxxlarge);
}

.about__container-text{
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: var(--gap-mini);
}

.about__container-image img{
    /* Box Model */
    width: 315px;
    height: auto;
}

.about__title {
    /* Texto */
    color: var(--color-text);
    font: 520 var(--title-size)/2 var(--font-family);
}

.about__text {
    /* Texto */
    color: var(--color-text);
    font: 400 var(--font-size-large)/1.5 var(--font-family);
}

.about__link {
    color: var(--color-primary);
    text-decoration: underline;
    transition: color 0.3s;
}

.about__link:hover {
    color: var(--color-hover);
}

.about__hobbies {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;


    /* Box Model */
    width: fit-content;
    margin-top: 25px;
}

.about__hobbies-title{
    color: var(--color-text);
    font: 600 var(--font-size-base)/1 var(--font-family);
}

.about__hobbies_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-mini);

    margin-top: 15px;
}

.about__hobby {
    display: inline-block;
    padding: var(--padding-mini);
    border-radius: var(--radius);
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    font-size: 13px;
    cursor: default; /* solo visual */
    transition: transform 0.2s, background-color 0.3s;
}

.about__hobby:hover {
    transform: translateY(-3px);
    background-color: var(--color-primary);
    color: #fff;
}

/* ========== SECCIÓN CERTIFICADO ========== */
.certificates {
    text-align: center;
    padding: var(--padding-section);
}

.certificates__title {
    color: var(--color-text);
    font: 600 var(--title-size)/2 var(--font-family);
    text-transform: capitalize;
}

.certificates__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap-medium);
}

.certificate__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-small);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.certificate__card:hover {
    transform: translateY(-5px);
}

.certificate__img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.certificate__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.75);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: var(--padding-large);
    text-align: center;
}

.certificate__card:hover .certificate__overlay {
    opacity: 1;
}

.certificate__name {
    font-size: var(--font-size-large);
    margin-bottom: 8px;
}

.certificate__org {
    font-size: var(--font-size-base);
    margin-bottom: 15px;
    opacity: 0.8;
}


