/* main.css */

/* ---- TOKENS ---- */
@import url("./tokens/variables.css");
@import url("./tokens/theme-light.css");
@import url("./tokens/theme-dark.css");
@import url("./tokens/fonts.css");

/* ---- LAYOUT ---- */
@import url("./layout/navbar.css");
@import url("./layout/footer.css");
@import url("./layout/top.css");

/* ---- COMPONENTS ---- */
@import url("./components/botones.css");
@import url("./components/tooltips.css");
@import url("./components/flechas.css");
@import url("./components/preloader.css");

/* ---- RESPONSIVE ---- */
@import url("./responsive.css");
