/* Tablets grandes y laptops pequeños */
@media (max-width: 1024px) { 

}

/* Tablets en vertical */
@media (max-width: 768px) { 
    

}

/* Celulares grandes */
@media (max-width: 600px) { 
    /* ======= VARIABLES ======= */
    :root{
        /* ----- Tamaños / Dimensiones ----- */
    --navbar-width-closed: 90%;
    --navbar-width-open: 12.5rem;     /* 200px */

    }


    main {
        /* Box Model */
        padding-inline-start: 0px;
        padding-inline-end: 0px;
    }


    /* ========== NAVBAR LATERAL ========== */
    .lateral-navbar {
        /* Posicionamiento */
        top: 5%;

        /* Layout */
        flex-direction: row;

        /* Box Model */
        padding: 0.25rem;
    }

    /* Estado abierto */
    .lateral-navbar.open {
        top: 50%;
    }


    /* Lista dentro del navbar */
    .navbar-list {
        /* Layout */
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: var(--space-1);


        /* Box Model */
        margin: 0;
    }

    /* Ítems */
    .lateral-navbar li {
        /* Box Model */
        width: fit-content;
    }

    /* Estado cerrado de los links */
    .lateral-navbar:not(.open) a {
        font: var(--font-size-xs)/1 var(--font-family);
    }
    
    .lateral-navbar.open a {
        font: var(--font-size-xs)/1 var(--font-family);
}



    /* Contenedor de links */
    .links-container {
        /* Layout */
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-2);

        /* Box Model */
        width: fit-content;
        margin: 0;
    }

    /* Elementos ocultos en estado cerrado */
    a[data-hide-mobile] svg,
    li[data-hide-mobile ="hide"],
    .menu-toggle .tooltip[data-position="right"] .tooltip__text,
    .lang-btn-close[data-hide-mobile],
    .lateral-navbar .lang-btn-close,
    .lateral-navbar .btn-secondary,
    .lateral-navbar .theme-cv,
    .menu-toggle .icon-top {
        display: none;
    }


    .lateral-navbar.open a[data-hide-mobile] svg,
    .lateral-navbar.open li[data-hide-mobile ="hide"],
    .lateral-navbar .navbar__icon-text,
    .lateral-navbar .btn-secondary,
    .lateral-navbar.open .theme-cv, 
    .lateral-navbar.open .icon-top,
    .theme__button-lang,
    .theme__icon-button {
        display: inline-block;
    }

    /* Lista dentro del navbar */
    .lateral-navbar.open .navbar-list {
        /* Layout */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--radius-lg) ;

        /* Box Model */
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .lateral-navbar.open .links-container {
        /* Layout */
        flex-direction: column;
        align-items: flex-start;
    }

    .lateral-navbar.open .links-container {
        margin-left: var(--space-3) ;
        margin-top: var(--space-4) ;
        margin-bottom: var(--space-4) ;
    }


    /* Seccion Superior */

    .top-element{
        display: none;
    }


    /* Seccion Presentacion */
    .presentation {
        /* Layout */
        gap: var(--space-1) ;
        flex-direction: column;
        align-items: center;

        /* Box model */
        width: 100%;
        margin: var(--space-9) 0;
    }

    .presentation__container-text {
        /* Box model */
        max-width: 100%;
        gap: var(--space-2);
    }

    .presentation__container-name:hover{
        gap: var(--space-4) ;
    }

    .presentation__arrow{
        /* Texto */
        font: 700 var(--font-size-3xl)/1 var(--font-family);
    }

    .presentation__name {
        /* Texto */
        font: 700 var(--font-size-title)/1 var(--font-family); /* nombre muy grande */
    }

    .presentation__container-name{
        /* Layout */
        gap: 0;
    }

    .presentation__container-name:hover{
        gap: var(--space-1);
    }

    .presentation__role {
    /* Texto */
        font: 700 var(--font-size-2xl)/1 var(--font-family);
    }

    .presentation__pagraph-1,
    .presentation__pagraph-2 {

        /* Texto */
        font: 400 var(--font-size-base)/1.2 var(--font-family);
    }

    .presentation__container-image img {
        /* Box Model */
        width: 200px;
        height: auto;
        border-radius: var(--radius-md) ;
        
        /* Efectos */
        transition: opacity 1.5s ease, transform 0.5s ease;
        display: block;
    }

    .presentation__icon-scroll{
        /* Posicionamiento */
        position: absolute;
        bottom: -30px;
    }

    .presentation__icon-scroll .icon{
        width: 40px; 
        height: 40px;
    }


    /* Seccion Porfolio */
    .portfolio {
        padding: var(--space-6);
    }

    .portfolio__project {
        /* Layout */
        flex-direction: column;
    }


    .portfolio__image {
        /* Box Model */
        width: 100%;
        max-height: 200px;
    }

    /* Cuando el texto se despliega */
    .portfolio__project.open .portfolio__image {
        max-height: 400px; /* Imagen más grande */
    }

    .portfolio__subtitle {
        /* Texto */
        font: 600 var(--font-size-xl)/1.5 var(--font-family);
    }

    .portfolio__decription-title{
        /* Texto */
        font: 500 var(--font-size-lg)/1 var(--font-family);
    }


    .portfolio__container-title-links{
        /* Layout */
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 0;
    }

    /* ========== SECCIÓN SKILLS ========== */
    .skills {
        /* Layout */
        gap: var(--space-6);
    }

    .skills__list-elements {
        /* Layout */
        gap: var(--space-4);

    }

    .skills__list-item {
        /* Box Model */
        width: 90px;
        height: 90px;
    }

    .skills__list-item:hover {
        /* Efectos */
        transform: scale(1.03);
    }

    .skills__list-item .icon {
        /* Box Model */
        width: 70px;
        height: 70px;
    }
    .skills__list-item .icon #github {
        color: var(--color-dark);
    }

    /* ========== SECCIÓN SOBRE MÍ ========== */
    .about {
        /* Box Model */
        width: 100%;
        margin: 0;
        padding: var(--space-9) var(--space-4);
    }

    .about__text {
        /* Texto */
        font: 400 var(--font-size-base)/1.2 var(--font-family);
    }

    .about__hobbies_container {
        /* Layout */
        justify-content: flex-start;
    }

    .about__container-image{
        display: none;
    }

    /* Footer */
    .footer__container-links{
        /* Layout */
        gap: var(--space-3) ;
        margin-bottom: var(--space-1) ;
    }

    .footer__link{
        /* Box Model */
        padding: 0;

        /* Texto */
        font: 600 var(--font-size-sm)/1 var(--font-family);
    }

    .footer__link[data-hide-mobile]{
        display: none;
    }

    .footer__container-email{
        /* Layout */
        flex-direction: column;
        gap: var(--space-3) ;
    }

    #backToTop {
        /* Posicionamiento */
        right: 15px;
    }

/* =========================
    Contact Section
========================= */
.form-contact{
    /* Layout */
    flex-direction: column;
    align-items: start;

    /* Box Model */
    margin-top: var(--space-8);
    padding: var(--space-6) var(--space-3);
}

.form__menssage{
    /* Box Model */
    width: 100%;
}

.form__menssage-container{
    /* Layout */
    gap: var(--space-4);
}

.form__menssage-title{
    /* Texto */
    font: 600 var(--font-size-3xl)/1 var(--font-family);
}

.form__menssage-text{
    /* Texto */
    font: 400 var(--font-size-sm)/1.3 var(--font-family);
}

.form__email-container{
    /* Layout */
    gap: var(--space-1);

    /* Box Model */
    width: fit-content;
}

.form__email{
    /* Texto */
    font: 400 var(--font-size-sm)/1 var(--font-family);
}

.form__container {
    /* Box Model */
    width: 100%;
}

.form__container input,
.form__container textarea {
    border-radius: var(--radius-sm);
}

}

/* Celulares pequeños */
@media (max-width: 480px) { 
}
