/* Flechas */

.container-title-arrows{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    transition: gap 0.3s ease;

    /* Box Model */
    width: 100%;
    margin-bottom: var(--space-3);

    /* Texto */
    text-align: center;
}

.container-title-arrows:hover{
    gap: var(--space-3);
}

.arrow{
    /* Texto */
    font: 700 var(--font-size-title)/1 var(--font-family);
    color: var(--color-primary);
}