/* ========== SECCIÓN SUPERIOR ========== */
.top-element {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* Box Model */
    width: calc(100% - 35px);
    padding: var(--space-2) 0 var(--space-1) 0;

    /* Posicionamiento */
    top: 0;
}

/* Íconos SVG */
.top-element .icon-top {
    /* Box Model */
    width: var(--logo-width);
    height: var(--logo-height);

    /* Layout */
    flex-shrink: 4;
}

.top-element__container {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4);
}

.top-element__link {
    /* Box Model */
    padding: var(--space-1) var(--space-2);

    /* Texto */
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    text-decoration: none;

    /* Efectos */
    transition: color 0.3s;
}

.top-element__link::first-letter {
    /* Texto */
    font-size: var(--font-size-lg);
}

.top-element__link:hover {
    /* Texto / Efectos */
    color: var(--color-primary);
}

.top-element__container-lang {
    /* Layout */
    display: flex;
    justify-content: center;
    gap: var(--gap-links);

    /* Box Model */
    height: auto;
}

.top-element .icon {
    /* Box Model */
    max-width: 20px;
}
